@media (min-width: 1440px){
    body{
        background-color: red;
        font-size: 24px;
    }
    img{
        width: 10%;
    }
}

@media (max-width: 768px){
    body{
        background-color: green;
        font-size: 18px;
    }
    img{
        width: 70%;
    }
}


@media (max-width: 425px){
    body{
        background-color: blue;
        font-size: 14px;
    }
    img{
        width: 10%;
    }
}